<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--require style of page from common.css-->

<div class="paginator" th:fragment="paginator(current, size, total, uri)"
     th:with="first=1, last=${(total - 1) / size + 1}">
    <!--/*@thymesVar id="#customs" type="wsg.tools.boot.config.thymeleaf.expression.Customs"*/-->
    <a th:href="${#customs.updateParameters(uri, 'current' ,first)}">&lt;&lt;</a>
    <a th:href="${#customs.updateParameters(uri, 'current' , (current - 1))}"
       th:if="${current gt first}">&lt;</a>
    <span th:if="${current eq first}">&lt;</span>

    <a th:each="pageCount:${#numbers.sequence(first, current - 1)}"
       th:href="${#customs.updateParameters(uri, 'current' , pageCount)}"
       th:if="${current gt first}" th:text="${pageCount}"></a>
    <span class="current" th:text="${current}"></span>
    <a th:each="pageCount:${#numbers.sequence(current + 1, last)}"
       th:href="${#customs.updateParameters(uri, 'current' , pageCount)}"
       th:if="${current lt last}" th:text="${pageCount}"></a>

    <span th:if="${current eq last}">&gt;</span>
    <a th:href="${#customs.updateParameters(uri, 'current' , (current + 1))}"
       th:if="${current lt last}">&gt;</a>
    <a th:href="${#customs.updateParameters(uri, 'current' , last)}">&gt;&gt;</a>
</div>

<label th:fragment="enumSelector(name, title, enums, valueSelected)">
    <span>[[${title}]]：</span>
    <select class="filter" th:name="${name}">
        <option th:selected="${valueSelected==null}" value="">所有</option>
        <!--/*@thymesVar id="enum" type="wsg.tools.boot.entity.base.enums.AbstractEnum"*/-->
        <option th:each="enum:${enums}" th:selected="${enum.equals(valueSelected)}"
                th:text="${enum.title}" th:value="${enum.name()}"></option>
    </select>
</label>
</html>