<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Movies</title>
    <link rel="stylesheet" th:href="@{/css/video.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/common.css}" type="text/css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script th:src="@{/js/common.js}" type="text/javascript"></script>
</head>
<body>
<div class="wrapper">
    <div class="head">
        <form action="/video/index" id="form" method="get" th:with="params=${querySubject}">
            <label th:replace="base/common::enumSelector('archived', '归档', ${archivedArray}, ${params.archived})"></label>
            <label th:replace="base/common::enumSelector('status', '标记', ${statuses}, ${params.status})"></label>
            <label th:replace="base/common::enumSelector('subtype', '类型', ${subtypes}, ${params.subtype})"></label>
            <label>
                <input name="nullDuration" onchange="$('#form').submit();" th:checked="${params.isNullDuration()}"
                       type="checkbox"/> 空时长
            </label>
            <label>
                <input name="badSeason" onchange="$('#form').submit();" th:checked="${params.isBadSeason()}"
                       type="checkbox"/> 无剧集
            </label>
            <label>
                <input name="nullImdb" onchange="$('#form').submit();" th:checked="${params.isNullImdb()}"
                       type="checkbox"/> 空IM
            </label>
        </form>
        <div class="pageInfo">
        </div>
        <div hidden>
            <input id="archiveBtn" onclick="archiveAll()" type="button" value="批量归档"/>
            <input id="updateBtn" onclick="updateMyMovies()" type="button" value="更新我的"/>
        </div>
    </div>
    <div class="content" th:with="start=${(page.current - 1)*page.size+1}">
        <div th:if="${page.total eq 0}">
            <span>Nothing</span>
        </div>
        <div th:if="${page.total gt 0}">
            <span class="pageInfo" th:text="|${start}-${start+page.size}/${page.total}|"></span>
            <table id="subjects" th:if="${page.total gt 0}">
                <thead>
                <tr>
                    <th>序号</th>
                    <th class="sortable id">ID</th>
                    <th class="sortable title">名称</th>
                    <th class="sortable year">年份</th>
                    <th class="sortable archived">归档</th>
                    <th class="sortable status">标记</th>
                    <th class="sortable imdbId">IMDb</th>
                    <th>管理</th>
                </tr>
                </thead>
                <tbody>
                <tr th:class="${stat.even}?'even':'odd'" th:each="record,stat:${records}" th:id="${record.id}">
                    <td th:text="${start+stat.index}"></td>
                    <td th:text="${record.id}"></td>
                    <td>
                        <a target="_blank" th:href="${record.alt}" th:text="${record.title}"
                           th:title="${record.originalTitle}"> </a>
                    </td>
                    <td th:text="${record.year}"></td>
                    <td style="width: 120px;" th:if="${record.archived.name().equals('PLAYABLE')}">
                        <span class="clickTip"></span>
                        <a class="archived" href="javascript:void(0);" th:data-id="${record.id}"
                           th:text="${record.archived.title}">
                        </a>
                    </td>
                    <td th:unless="${record.archived.name().equals('PLAYABLE')}">
                        <span th:text="${record.archived.title}"></span>
                    </td>
                    <td th:text="${record.status.title}"></td>
                    <td>
                        <a target="_blank" th:href="|https://imdb.com/title/${record.imdbId}/|"
                           th:if="${record.imdbId ne null}" th:text="${record.imdbId}"> </a>
                        <a target="_blank"
                           th:href="'https://baike.baidu.com/search?word='+${record.title.replace(' ','+')}"
                           th:if="${record.imdbId eq null}">百度百科/
                        </a>
                        <a href="javascript:void(0);" th:if="${record.imdbId eq null}"
                           th:onclick="update([[${record.id}]])">输入</a>
                    </td>
                    <!--                    <td th:text="${#temporals.format(record.gmtModified, 'yyyy-MM-dd HH:mm:ss')}"></td>-->
                    <td>
                        <a href="javascript:void(0);" th:onclick="updateInfo([[${record.id}]])">更新</a>
                        <a href="javascript:void(0);" target="_blank">搜索</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:with="uri=${#httpServletRequest.getRequestURI()+'?'+#httpServletRequest.getQueryString()}">
                <div th:replace="base/common::paginator(${page.current}, ${page.size}, ${page.total}, ${uri})"></div>
            </div>
        </div>
    </div>
</div>
</body>
<footer>
    <script th:src="@{/js/video.js}" type="text/javascript"></script>
</footer>
</html>