.paginator {
    margin-left: auto;
    margin-top: 1%;
    text-align: center;
}

.paginator a {
    padding-left: 4px;
    padding-right: 4px;
    color: #666699;
    line-height: 100%;
    text-decoration: none;
}

.paginator span {
    padding-left: 4px;
    padding-right: 4px;
    color: #aaaaaa;
    line-height: 100%;
}

.paginator .current {
    color: #ffffff;
    background: #83BF73;
}