.wrapper {
    text-align: center;
}

.head {
    margin-left: auto;
    margin-top: 1%;
}

.content {
    width: 90%;
    margin-left: 5%;
}

.pageInfo {
    float: right;
    margin-right: 1%;
}

table {
    width: 100%;
    min-height: 25px;
    line-height: 25px;
    text-align: center;
    border-collapse: collapse;
}

table tr.even {
    background-color: gainsboro;
}

table tr th, table tr td {
    vertical-align: middle;
}

table thead th.sortable {
    cursor: pointer;
}

table tbody td.archived {
    width: 120px;
}

.arrow {
    display: inline-block;
    vertical-align: middle;
    height: 8px;
    margin-left: 5px;
    opacity: 0.66;
}

.arrow.asc {
    width: 0;
    position: relative;
    bottom: 8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid black;
}

.arrow.desc {
    width: 0;
    position: relative;
    top: 4px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid black;
}
